<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Debtfetchr</title>
</head>
<body style="background:url('img/homepage-bg.jpg') no-repeat top center;">
<div class="wrapper">
  <header class="bs-docs-nav navbar navbar-static-top hom-page-nav" id="top">
    <div class="container" abc>
      <div class="navbar-header">
        <button aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-navbar" data-toggle="collapse" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="" class="navbar-brand logo-top"><img src="img/logo.png" alt="" title="Bedtfetchr" /></a> </div>
        
        
      <nav class="navbar-collapse collapse" id="bs-navbar" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav pull-right">
          <li class="active"> <a href="">Home</a> </li>
          <li> <a href="">How it works</a> </li>
          <li> <a href="">Why us</a> </li>
          <li> <a href="">About Us</a> </li>
          <li> <a href="">Calculator</a> </li>
          <li> <a href="">Contact</a> </li>
          <li class="sign-in-up"> <a href="">Sign In</a>/<a href="/signup">Sign Up</a></li>
          <li class="cart-phn"><a href=""><img src="img/cart-icn-home.png" alt="" /></a> <span>|</span> <img src="img/phn-icn-home.png" alt="" />995599559</li>
        </ul>
      </nav>
    </div>
  </header>
  
  
  
  <section class="banner-home">
  <div class="container">
  <div class="col-md-7 pull-right">
  <h1>Fast, Assertive<br />
Debt Collection</h1>
  <p>We <span>collect 96% of debts</span> referred under our Debt Collection Services proposal</p>
  </div>
  </div>
  </section>
  
  <section class="welcome-home">
  <div class="container">
  <div class="row">
  <div class="col-md-4">
  <h4><span>Welcome to</span>
  <strong>DEBT</strong>fetchr</h4>
  <p>Debt Collection, Collectors & Debt Recovery Services.</p>
  <p class="p-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make...</p>
  </div>
  <div class="col-md-8">
  <div class="top-hdng">Our expert team are trained and dedicated to getting your debt paid quickly. We identify a willingness and ability to pay and then apply the right amount of pressure to make your overdue a priority. </div>
  <h5 class="h-light">Excuses are overcome and disputes resolved.</h5>
  <div class="col-md-6">
  <h3>Best recovery rate</h3>
  <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <div class="col-md-6 thumb-icn">
  <h3>Best recovery rate</h3>
  <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <h2><img src="img/logo_white.png" alt="" /></h2>
        <div class="row">
        <div class="col-md-3">
          <ul>
            <li><a href="">Homepage</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact US</a></li>
            <li><a href="">Sign In / Sign Up</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="">How It Works</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-6 ftr-info-main">
          <ul>
            <li><a href="">Call for any enquiry</a></li>
            <li><a href="">995599559955</a></li>
            <li><a href=""><img src="img/social_icoin.png" alt="" /></a></li>
            <li><a href="">info@debtfetch.com</a></li>
          </ul>
        </div>
        </div>
        </div>
        
        <div class="col-md-4">
          <div class="newsleter-box">
          <h4>Sign up to our newsletter</h4>
          <input type="text" placeholder="Your Name" />
          <input type="text" placeholder="Your Name" />
          <button type="submit" value="">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
</div>
</body>
</html>
